
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
build/resources/main/application.properties
build/classes/kotlin/main/com/exam/PostmanEcho/api/adpater/in/web/EchoController.class
build/classes/kotlin/main/com/exam/PostmanEcho/api/domain/Request.class
build/classes/kotlin/main/com/exam/PostmanEcho/api/domain/RequestForm.class
build/classes/kotlin/main/com/exam/PostmanEcho/common/WebAdapter.class
*.class
*.len
build/classes/kotlin/main/META-INF/PostmanEcho.kotlin_module
build/kotlin/compileKotlin/build-history.bin
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.s
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.s
build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlin/last-build.bin
